.dashboard-layout {
  min-height: 100vh;
  background-color: var(--vscode-blue);

  .dashboard-container {
    display: flex;
    height: calc(100vh - 64px); // Altura total menos el navbar
  }

  .dashboard-content {
    flex: 1;
    padding: 2rem;
    overflow-y: auto;
  }
}